#an-anim > ol
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#an-anim > ol > li
{
	margin: 0;
	padding: 0;
	display: block;
}
#an-anim > ol > li.run { display: block; }
#an-anim .an-stage
{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#an-anim .an-stage div { position: absolute; }
.an-stage *
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
#an-anim .an-stage img
{
	position: absolute;
	top: 0;
	left: 0;
}
#an-anim .AN-Scene-Description { display: none; }
#an-anim iframe
{
	border: none;
	height: 100%;
	width: 100%
}
#an-anim .an-stage
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#an-anim
{
	height: 768px;
	width: 1024px;
	position: relative;
	background-color: rgba(255,255,255,1);
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.3;
}
button { outline: none; }
#an-obj-1
{
	-webkit-transform: translate3d(0px, 0px, 0px);
	width: 1024px;
	height: 768px;
	top: 0;
	left: 0;
}
#an-obj-2
{
	-webkit-transform: translate3d(212px, 649px, 0px);
	width: 814px;
	height: 110px;
	top: 0;
	left: 0;
}
 @-webkit-keyframes ani-an-obj-2-0 { 0% {
 -webkit-transform: translate3d(1036px, 649px, 0px);
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-timing-function: ease-in;
}
 100% {
 -webkit-transform: translate3d(212px, 649px, 0px);
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-timing-function: ease-in;
}
}
.run.t-0 #an-obj-2
{
	-webkit-animation-name: ani-an-obj-2-0;
	-webkit-animation-duration: 1.4705s;
	-webkit-animation-delay: 1.4029s;
	-webkit-animation-fill-mode: both;
}
.t-0 #an-obj-2
{
	-webkit-transform: translate3d(212px, 649px, 0px);
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-timing-function: ease-in;
}
.restart.t-0 #an-obj-2
{
	-webkit-transform: translate3d(1036px, 649px, 0px);
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-timing-function: ease-in;
}
.restart #an-obj-2 { -webkit-animation-name: none !important; }
#an-obj-3
{
	-webkit-transform: translate3d(212px, 649px, 0px);
	width: 814px;
	height: 110px;
	top: 0;
	left: 0;
}
 @-webkit-keyframes ani-an-obj-3-0 { 0% {
 -webkit-transform: translate3d(1036px, 649px, 0px);
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-timing-function: ease-in;
}
 100% {
 -webkit-transform: translate3d(212px, 649px, 0px);
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-timing-function: ease-in;
}
}
.run.t-0 #an-obj-3
{
	-webkit-animation-name: ani-an-obj-3-0;
	-webkit-animation-duration: 2.5098s;
	-webkit-animation-delay: 0.404s;
	-webkit-animation-fill-mode: both;
}
.t-0 #an-obj-3
{
	-webkit-transform: translate3d(212px, 649px, 0px);
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-timing-function: ease-in;
}
.restart.t-0 #an-obj-3
{
	-webkit-transform: translate3d(1036px, 649px, 0px);
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-timing-function: ease-in;
}
.restart #an-obj-3 { -webkit-animation-name: none !important; }
#an-obj-4
{
	-webkit-transform: translate3d(0px, 0px, 0px);
	width: 1024px;
	height: 768px;
	top: 0;
	left: 0;
}


#an-obj-41
{
	-webkit-transform: translate3d(30px, 304px, 0px);
	width: 37px;
	height: 13px;
	top: 0;
	left: 0;
}
#an-obj-11
{
	-webkit-transform: translate3d(333px, 494px, 0px);
	-moz-transform: translate(333px, 494px);
	position: relative !important;
	width: 340px;
}
#an-obj-11 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 340px;
	height: 42px;
}
#btn1
{
	background-color: transparent !important;
	background-image: url('assets/slide2_btn1.png') !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 60px;
	height: 16px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-42
{
	-webkit-transform: translate3d(100px, 305px, 0px);
	width: 42px;
	height: 14px;
	top: 0;
	left: 0;
}
#an-obj-12
{
	-webkit-transform: translate3d(360px, 493px, 0px);
	-moz-transform: translate(360px, 493px);
	position: relative !important;
	width: 341px;
}
#an-obj-12 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 341px;
	height: 123px;
}
#btn2
{
	background-color: transparent !important;
	background-image: url("assets/slide2_btn2.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 60px;
	height: 15px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-43
{
	-webkit-transform: translate3d(175px, 305px, 0px);
	width: 43px;
	height: 13px;
	top: 0;
	left: 0;
}
#an-obj-13
{
	-webkit-transform: translate3d(390px, 493px, 0px);
	-moz-transform: translate(390px, 493px);
	position: relative !important;
	width: 341px;
}
#an-obj-13 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 341px;
	height: 229px;
}
#btn3
{
	background-color: transparent !important;
	background-image: url("assets/slide2_btn3.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 60px;
	height: 15px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
.btngraph .ui-btn-hidden { background: none no-repeat scroll 0 0 transparent !important; }
.ui-btn-inner { display: none !important; }
.btngraph .ui-btn-up-c { border: medium none !important; }
.btngraph .ui-shadow { box-shadow: none !important; }
#an-obj-5
{
	-webkit-transform: translate3d(0px, 0px, 0px);
	width: 1024px;
	height: 768px;
	top: 0;
	left: 0;
}
#an-obj-31
{
	-webkit-transform: translate3d(327px, 490px, 0px);
	-moz-transform: translate(327px, 490px);
	position: relative !important;
	width: 28px;
}
#an-obj-31 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 28px;
	height: 31px;
}
#an-obj-51
{
	-webkit-transform: translate3d(320px, 497px, 0px);
	width: 37px;
	height: 14px;
	top: 0;
	left: 0;
}
#btn31
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn1.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 37px;
	height: 14px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-32
{
	-webkit-transform: translate3d(384px, 490px, 0px);
	-moz-transform: translate(384px, 490px);
	position: relative !important;
	width: 47px;
}
#an-obj-32 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 47px;
	height: 47px;
}
#an-obj-52
{
	-webkit-transform: translate3d(380px, 492px, 0px);
	width: 36px;
	height: 27px;
	top: 0;
	left: 0;
}
#btn32
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn2.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 36px;
	height: 27px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-33
{
	-webkit-transform: translate3d(454px, 490px, 0px);
	-moz-transform: translate(454px, 490px);
	position: relative !important;
	width: 35px;
}
#an-obj-33 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 35px;
	height: 47px;
}
#an-obj-53
{
	-webkit-transform: translate3d(438px, 499px, 0px);
	width: 67px;
	height: 20px;
	top: 0;
	left: 0;
}
#btn33
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn3.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 67px;
	height: 20px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-34
{
	-webkit-transform: translate3d(524px, 490px, 0px);
	-moz-transform: translate(524px, 490px);
	position: relative !important;
	width: 28px;
}
#an-obj-34 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 28px;
	height: 59px;
}
#an-obj-54
{
	-webkit-transform: translate3d(510px, 492px, 0px);
	width: 51px;
	height: 25px;
	top: 0;
	left: 0;
}
#btn34
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn4.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 51px;
	height: 25px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-35
{
	-webkit-transform: translate3d(593px, 490px, 0px);
	-moz-transform: translate(593px, 490px);
	position: relative !important;
	width: 28px;
}
#an-obj-35 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 28px;
	height: 59px;
}
#an-obj-55
{
	-webkit-transform: translate3d(570px, 500px, 0px);
	width: 70px;
	height: 19px;
	top: 0;
	left: 0;
}
#btn35
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn5.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 70px;
	height: 19px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-36
{
	-webkit-transform: translate3d(655px, 490px, 0px);
	-moz-transform: translate(655px, 490px);
	position: relative !important;
	width: 28px;
}
#an-obj-36 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 28px;
	height: 78px;
}
#an-obj-56
{
	-webkit-transform: translate3d(642px, 494px, 0px);
	width: 53px;
	height: 26px;
	top: 0;
	left: 0;
}
#btn36
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn6.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 53px;
	height: 26px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-37
{
	-webkit-transform: translate3d(720px, 490px, 0px);
	-moz-transform: translate(720px, 490px);
	position: relative !important;
	width: 28px;
}
#an-obj-37 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 28px;
	height: 179px;
}
#an-obj-57
{
	-webkit-transform: translate3d(711px, 498px, 0px);
	width: 43px;
	height: 22px;
	top: 0;
	left: 0;
}
#btn37
{
	background-color: transparent !important;
	background-image: url("assets/slide3_btn7.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 43px;
	height: 22px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-38
{
	-webkit-transform: translate3d(25px, 420px, 0px);
	-moz-transform: translate(25px, 420px);
	position: relative !important;
	width: 28px;
	z-index: 2;
}
#an-obj-38 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 189px;
	height: 137px;
}
#an-obj-58
{
	-webkit-transform: translate3d(44px, 298px, 0px);
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	z-index: 3;
}
#btn38
{
	background-color: transparent !important;
	background-image: url('assets/icon.png') !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 30px;
	height: 30px;
	opacity: 1;
	outline: none;
	background-repeat: no-repeat;
}
#an-obj-39
{
	-webkit-transform: translate3d(797px, 420px, 0px);
	-moz-transform: translate(797px, 420px);
	position: relative !important;
	width: 28px;
	z-index: 2;
}
#an-obj-39 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 189px;
	height: 137px;
}
#an-obj-59
{
	-webkit-transform: translate3d(817px, 293px, 0px);
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	z-index: 3;
}
#btn39
{
	background-color: transparent !important;
	background-image: url('assets/icon.png') !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 30px;
	height: 30px;
	opacity: 1;
	background-repeat: no-repeat;
	outline: none;
}
#an-obj-6
{
	-webkit-transform: translate3d(0px, 0px, 0px);
	width: 1024px;
	height: 768px;
	top: 0;
	left: 0;
}
#an-obj-7
{
	-webkit-transform: translate3d(202px, 286px, 0px) scale3d(1, 1, 1);
	width: 207px;
	height: 166px;
	top: 0;
	left: 0;
}
 @-webkit-keyframes ani-an-obj-7-0 { 0% {
 -webkit-transform: translate3d(202px, 286px, 0px) scale3d(1, 1, 1);
 opacity: 0;
}
 100% {
 -webkit-transform: translate3d(202px, 286px, 0px) scale3d(1, 1, 1);
 opacity: 1;
}
}
.run.t-0 #an-obj-7
{
	-webkit-animation-name: ani-an-obj-7-0;
	-webkit-animation-duration: 0.5455s;
	-webkit-animation-delay: 1.0000s;
	-webkit-animation-fill-mode: both;
}
.t-0 #an-obj-7
{
	-webkit-transform: translate3d(202px, 286px, 0px) scale3d(1, 1, 1);
	opacity: 1;
}
.restart.t-0 #an-obj-7
{
	-webkit-transform: translate3d(202px, 286px, 0px) scale3d(1, 1, 1);
	opacity: 0;
}
.restart #an-obj-7 { -webkit-animation-name: none !important; }
#an-obj-8
{
	-webkit-transform: translate3d(427px, 285px, 0px);
	width: 207px;
	height: 166px;
	top: 0;
	left: 0;
}
 @-webkit-keyframes ani-an-obj-8-0 { 0% {
 -webkit-transform: translate3d(427px, 285px, 0px);
 opacity: 0;
}
 100% {
 -webkit-transform: translate3d(427px, 285px, 0px);
 opacity: 1;
}
}
.run.t-0 #an-obj-8
{
	-webkit-animation-name: ani-an-obj-8-0;
	-webkit-animation-duration: 0.6869s;
	-webkit-animation-delay: 1.5000s;
	-webkit-animation-fill-mode: both;
}
.t-0 #an-obj-8
{
	-webkit-transform: translate3d(427px, 285px, 0px);
	opacity: 1;
}
.restart.t-0 #an-obj-8
{
	-webkit-transform: translate3d(427px, 285px, 0px);
	opacity: 0;
}
.restart #an-obj-8 { -webkit-animation-name: none !important; }
#an-obj-9
{
	-webkit-transform: translate3d(635px, 285px, 0px);
	width: 207px;
	height: 166px;
	top: 0;
	left: 0;
}
 @-webkit-keyframes ani-an-obj-9-0 { 0% {
 -webkit-transform: translate3d(635px, 285px, 0px);
 opacity: 0;
}
 100% {
 -webkit-transform: translate3d(635px, 285px, 0px);
 opacity: 1;
}
}
.run.t-0 #an-obj-9
{
	-webkit-animation-name: ani-an-obj-9-0;
	-webkit-animation-duration: 0.7222s;
	-webkit-animation-delay: 3.0000s;
	-webkit-animation-fill-mode: both;
}
.t-0 #an-obj-9
{
	-webkit-transform: translate3d(635px, 285px, 0px);
	opacity: 1;
}
.restart.t-0 #an-obj-9
{
	-webkit-transform: translate3d(635px, 285px, 0px);
	opacity: 0;
}
.restart #an-obj-9 { -webkit-animation-name: none !important; }
#an-obj-10
{
	-webkit-transform: translate3d(516px, 293px, 0px);
	width: 30px;
	height: 91px;
	top: 0;
	left: 0;
}
 @-webkit-keyframes ani-an-obj-10-0 { 0% {
 -webkit-transform: translate3d(516px, 293px, 0px) scale3d(1, 0, 1);
 background-position: 0% 0%;
 border-top: 0px solid rgba(127,127,127,1);
 border-right: 0px solid rgba(127,127,127,1);
 border-bottom: 0px solid rgba(127,127,127,1);
 border-left: 0px solid rgba(127,127,127,1);
 -webkit-transform-origin: 0% 0%;
}
 100% {
 -webkit-transform: translate3d(516px, 293px, 0px) scale3d(1, 1, 1);
 background-position: 0% 0%;
 border-top: 0px solid rgba(0,0,0,1);
 border-right: 0px solid rgba(0,0,0,1);
 border-bottom: 0px solid rgba(0,0,0,1);
 border-left: 0px solid rgba(0,0,0,1);
 -webkit-transform-origin: 0% 0%;
}
}
.run.t-0 #an-obj-10
{
	-webkit-animation-name: ani-an-obj-10-0;
	-webkit-animation-duration: 1.4495s;
	-webkit-animation-delay: 1.3333s;
	-webkit-animation-fill-mode: both;
}
.t-0 #an-obj-10
{
	-webkit-transform: translate3d(516px, 293px, 0px) scale3d(1, 1, 1);
	background-position: 0% 0%;
	border-top: 0px solid rgba(0,0,0,1);
	border-right: 0px solid rgba(0,0,0,1);
	border-bottom: 0px solid rgba(0,0,0,1);
	border-left: 0px solid rgba(0,0,0,1);
	-webkit-transform-origin: 0% 0%;
}
.restart.t-0 #an-obj-10
{
	-webkit-transform: translate3d(516px, 293px, 0px) scale3d(1, 0, 1);
	background-position: 0% 0%;
	border-top: 0px solid rgba(127,127,127,1);
	border-right: 0px solid rgba(127,127,127,1);
	border-bottom: 0px solid rgba(127,127,127,1);
	border-left: 0px solid rgba(127,127,127,1);
	-webkit-transform-origin: 0% 0%;
}
.restart #an-obj-10 { -webkit-animation-name: none !important; }
/* ------------ SYMBOL CSS -------------- */



#an-obj-61
{
	-webkit-transform: translate3d(867px, 420px, 0px);
	-moz-transform: translate(867px, 420px);
	position: relative !important;
	width: 28px;
	z-index: 2;
}
#an-obj-61 #indiv
{
	position: absolute !important;
	bottom: 0;
	display: none;
	width: 189px;
	height: 137px;
}
#an-obj-60
{
	-webkit-transform: translate3d(884px, 308px, 0px);
	width: 43px;
	height: 22px;
	top: 0;
	left: 0;
	z-index: 3;
}
#btn41
{
	background-color: transparent !important;
	background-image: url('assets/icon.png') !important;
	background-repeat: no-repeat;
	border: medium none !important;
	width: 30px;
	height: 30px;
	opacity: 1;
	background-repeat: no-repeat;
	outline: none;
}
